@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    main[data-theme="theme1"]{
        /* Background */
        --screen-bg: hsl(224, 36%, 15%);
        --main-bg: hsl(222, 26%, 31%);
        --keypad-bg: hsl(223, 31%, 20%);

        /* Keys, buttons */
        --func-key-bg: hsl(225, 21%, 49%);
        --func-key-shadow: hsl(224, 28%, 35%);
        --equal-key-bg: hsl(6, 63%, 50%);
        --equal-key-shadow: hsl(6, 70%, 34%);
        --key-bg: hsl(30, 25%, 89%);
        --key-shadow: hsl(28, 16%, 65%);

        /* Text */
        --dark--text-color: hsl(221, 14%, 31%);
        --white-text-color: hsl(0, 0%, 100%);
    }

    main[data-theme="theme2"]{
        /* Background */
        --screen-bg: hsl(0, 0%, 93%);
        --main-bg: hsl(0, 0%, 90%);
        --keypad-bg: hsl(0, 5%, 81%);

        /* Keys, buttons */
        --func-key-bg: hsl(185, 42%, 37%);
        --func-key-shadow: hsl(185, 58%, 25%);
        --equal-key-bg: hsl(25, 98%, 40%);
        --equal-key-shadow: hsl(25, 99%, 27%);
        --key-bg: hsl(45, 7%, 89%);
        --key-shadow: hsl(35, 11%, 61%);

        /* Text */
        --dark--text-color: hsl(60, 10%, 19%);
        --white-text-color: hsl(0, 0%, 100%);
    }

    main[data-theme="theme3"]{
        /* Background */
        --screen-bg: hsl(268, 71%, 12%);
        --main-bg: hsl(268, 75%, 9%);
        --keypad-bg: hsl(268, 71%, 12%);

        /* Keys, buttons */
        --key-bg: hsl(281, 89%, 26%);
        --key-shadow: hsl(285, 91%, 52%);
        --equal-key-bg: hsl(176, 100%, 44%);
        --equal-key-shadow: hsl(177, 92%, 70%);
        --func-key-bg: hsl(268, 47%, 21%);
        --func-key-shadow: hsl(290, 70%, 36%);

        /* Text */
        --light-yellow-text-color: hsl(52, 100%, 62%);
        --dark--text-color: hsl(198, 20%, 13%);
        --white-text-color: hsl(0, 0%, 100%);
    }

    input[type=range]::-moz-range-thumb{
        border: var(--keypad-bg);
    }
    
    main[data-theme="theme1"] input[type=range]::-moz-range-thumb{
        background: hsl(6, 63%, 50%);
    }
    main[data-theme="theme2"] input[type=range]::-moz-range-thumb{
        background: hsl(25, 98%, 40%);
    }
    main[data-theme="theme3"] input[type=range]::-moz-range-thumb{
        background: hsl(176, 100%, 44%);
    }

    main[data-theme="theme1"] input[type=range]::-webkit-slider-thumb{
        background: hsl(6, 63%, 50%);
    }
    main[data-theme="theme2"] input[type=range]::-webkit-slider-thumb{
        background: hsl(25, 98%, 40%);
    }
    main[data-theme="theme3"] input[type=range]::-webkit-slider-thumb{
        background: hsl(176, 100%, 44%);
    }

    /* main[data-theme="theme1"] h1, p, option, label{
       color:  var(--white-text-color);
    }
    main[data-theme="theme2"] h1, p, option, label{
       color:  var(--dark--text-color);
    }
    main[data-theme="theme3"] h1, p, option, label{
       color:  var(--light-yellow-text-color);
    }
    main[data-theme="theme3"] p[class="equal-btn"]{
        color: var(--dark--text-color);
    } */
}